<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.elovirta.ooxml">
  <require plugin="org.dita.pdf2"/>
  <feature extension="dita.conductor.transtype.check" value="docx"/>
  <feature extension="dita.transtype.print" value="docx"/>
  <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
</plugin>